.container-info {
  background-image: url(/./img/background-image.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  /* background-attachment: fixed; */
  background-size: cover;
  display: flex;
  min-height: 100vh;
  flex-wrap: wrap;
  flex-direction: column;
}

.new-info {
  height: 500px;
}

.new-info article {
  text-align: center;
  margin: 20px 0;
}

.new-info article p {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.5;
  text-transform: uppercase;
}

.img-container {
  display: flex;
  justify-content: center;
}

.titles-new-info {
  text-align: center;
  font-size: 3rem;
  padding: 20px;
}
