.container-info {
  background-image: url(/./img/background-image.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  /* background-attachment: fixed; */
  background-size: cover;
}

.new-info {
  height: 500px;
}

.new-info article {
  text-align: center;
  margin: 20px 0;
}

.new-info article p {
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 1.5;
}

.img-container {
  display: flex;
  justify-content: center;
}

.new-info img {
  display: block;
  width: 50%;
  /* margin: 0 auto; */
}

.titles-new-info {
  text-align: center;
  font-size: 3rem;
  padding: 20px;
}
